<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ajaykhanna.universityproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.MyClassOffline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Mainpage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            >
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity
            android:name=".Login.RegisterActivity"
            android:parentActivityName=".Login.LoginActivity" />
        <activity android:name=".Login.OtpActivity" />
        <activity
            android:name=".Mainpage.AccountActivity"
            android:parentActivityName=".Mainpage.MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity android:name=".Notice.CollegeActivity" />
        <activity
            android:name=".Notice.AddNoticeActivity"
            android:parentActivityName=".Mainpage.MainActivity" />
        <activity android:name=".Study.ElectronicsStudyActivity" />
        <activity android:name=".Study.CseStudyActivity" />
        <activity android:name=".Study.MecStudyActivity" />
        <activity android:name=".Study.CivilStudyActivity"></activity>
    </application>

</manifest>